build
node_modules
.env
/.vscode
/src/scraper/sites/anime/tioanime/testing.js
coverage
.vercel
/test-results/
/playwright-report/
/playwright/.cache/
/test-results/
/playwright-report/
/playwright/.cache/
